<style>
body, html{
    margin: 0;
    background-color: #fff; 
    
}
#msgs{
   
    padding-bottom: 10px;
}
#formMsg{
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-block-end: 0;
}
#txtMsg{ width: 80%;}
#btnEnviar{
    width: 20%; 
}
.send{
    text-align: right;
}
.received{
    margin-top: 3px;
    text-align: left;
    line-height: 2;
}
.send span{
    padding: 5px;
    border-radius: 5px;
    background-color: #dcf8c6;
}
.received span{
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f1c6;
}
</style>
<div id="msgs">

{{#msgs }}
    {{#ifEquals ../idGet this.sender }}
    <p class="received"><span>{{this.message}}</span></p> 
    {{/ifEquals}} 
    {{#ifEquals ../idGet this.recipient }} 
    <p class="send"><span>{{this.message}}</span></p> 
    {{/ifEquals}} 
{{/msgs}}


</div>
<form id="formMsg" action="/chat?id={{idGet}}" method="POST">
<label>
<input id="txtMsg" name="msg" type="text"><input id="btnEnviar" type="submit" value="enviar">
</label>
</form>

<script>/*
(function(){

    let form = document.querySelector('#formMsg'),
    httpRequest = new XMLHttpRequest(),
    resposta = document.querySelector('#resposta');

    if (window.XMLHttpRequest) {
	    httpRequest = new XMLHttpRequest();
	} else if (window.ActiveXObject) { 
	    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
	}

    form.addEventListener("submit", function(ev){
        ev.preventDefault();
        resposta.innerHTML = "";
        httpRequest.open("post", form.getAttribute('action'));
        httpRequest.send(new FormData(this));

        httpRequest.onreadystatechange = function(){
            if (httpRequest.readyState === 4) {
                for(msg of JSON.parse(this.responseText))
                    resposta.innerHTML += '<li>' + msg.message + '</li>';
            }
	    }
    })  
}())*/
</script>
