
<div class="conteudo">
    Olá {{#if logado}} {{logado}}  {{/if}}
    <div class="friends">
     

    <div class="col-1">
        <h1>Meus amigos</h1>
            <ul>
               {{#amigos}}
                <li style="border-top: 1px #ccc solid; padding: 5px;">{{this.user}} <button onclick="chat('{{this.id}}');" href="">Conversar</button> </li>
                {{/amigos}}
            </ul>
    </div>
     <div class="col-2">
           Buscar amigos <form action="/users/busca?q=" id="busca"><input id="termo" type="text"> <button>Buscar </button></form>
           <iframe id="janela" src=""></iframe>
    </div>
       
    </div> 
</div>



        <script>
            var resposta = document.querySelector('#janela');
            function chat(id){
                resposta.src = '/chat?id=' + id;
            }
            (function(){
                let form = document.querySelector('#busca'),
                busca = document.querySelector('#termo');
                

                form.addEventListener("submit", function(ev){
                    ev.preventDefault();
                    resposta.src = form.getAttribute('action') + busca.value;
                })  
            }())
            </script>