


<form method="POST" class="form-geral form-destacado" action="/users/verificar">
<legend>Entre no chat {{title}}</legend>
 <div class="campo">
        <label for="user">Usuário:</label>
        <input name="user" type="text">
    </div>
    <div class="campo">
        <label for="pass">Senha:</label>
        <input name="pass" type="password">
    </div>
     <div class="campo">
        <input type="submit" value="Entrar">
    </div>
</form>